h1 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp(22px, 8vw, 50px);
    line-height: 110%;
    text-align: center;
    color: var(--dark);
}
h2 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: var(--text-dark);
}
h3 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: var(--text-dark);
}
h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    color: var(--button-violet);
}
p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: clamp(8px, 3vw, 18px);
    line-height: 160%;
    color: var(--text-dark);
}

/* mission-section */

.mission-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1296px;
    width: 100%;
    margin: 80px auto 100px;
}
.mission-title {
    display: flex;
    justify-content: center;
}
.mission-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 40px;
    border: 1px solid var(--light-gray);
    border-radius: 20px;
    background: var(--white);
}
.mission-container-logo {
    display: flex;
    align-items: center;
}
.mission-container-logo img {
    max-width: 100%;
}
.mission-container-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 700px;
    width: 100%;
}
.mission-container-text p:nth-child(1),
.mission-container-text p:nth-child(3) span,
.mission-container-text p:nth-child(4) {
    font-weight: 600;
}

/* social-section */

.social-wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto 100px;
}
.social-title {
    display: flex;
    justify-content: space-between;
    gap: 38px;
}
.social-title-left {
    display: flex;
    align-items: flex-start;
    max-width: 478px;
    width: 100%;
}
.social-title-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social-title-right p:nth-child(1) {
    margin-bottom: 10px;
}
.social-title-right p:nth-child(2) {
    margin-bottom: 30px;
    font-weight: 500;
}
.social-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
}
.social-block {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 14px 14px 24px 14px;
    background: var(--white);
    gap: 20px;
}
.social-block-img {
    border-radius: 10px;
    padding: 14px;
    background: var(--background-gray);
}
.social-block-img img {
    max-width: 100%;
}
.social-block-text p:nth-child(1) {
    font-weight: 700;
}

/* ai-section */
.ai-wrapper {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto 31px;
    display: flex;
    justify-content: space-between;
    gap: 109px;
    border: 1px solid var(--light-gray);
    border-radius: 20px;
    padding: 40px;
    background: var(--white);
}
.ai-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}
.ai-left h3 {
    margin-bottom: 18px;
}
.ai-left p {
    margin-bottom: 43px;
}
.ai-right {
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.ai-right img {
    max-width: 100%;
}
.search-button {
  max-width: 319px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background-color: var(--button-violet);
  transition: background-color 0.3s ease;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: var(--white);
  padding: 2px 2px 2px 43px;
  gap: 10px;
}
.search-button:hover {
  background-color: var(--violet);
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 31px;
  padding: 20px;
  transition: background-color 0.3s ease;
}
.search img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 769px) {
    h1 {
    font-size: clamp(20px, 8vw, 46px);
}

/* mission-section */

.mission-title-wrapper {
    max-width: 100%;
    margin: 50px auto 53px;
}
.mission-container-logo {
    justify-content: center;
}
.mission-container-logo img {
    max-width: 318px;
    width: 100%;
}
.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}
.mission-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.mission-container-text p {
    text-align: center;
}

/* social-section */

.social-wrapper {
    max-width: 652px;
    margin: 0 auto 53px;
}
.social-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.social-title-left {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.social-title-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-title-right p {
    text-align: center;
}
.social-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* ai-section */
.ai-wrapper {
    max-width: 100%;
    margin: 0 auto 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
}
.ai-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
}
.ai-left p {
    margin-bottom: 34px;
}
.ai-right {
    gap: 36px;
}
.ai-right img {
    margin: 0 auto;
}
}
@media (max-width: 480px) {
    h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 17px;
}
p {
    font-size: 14px;
}

/* mission-section */

.mission-title-wrapper {
    gap: 30px;
    margin: 40px auto 80px;
}
.mission-title {
    display: flex;
    justify-content: center;
}
.mission-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;
    padding: 20px 14px;
}
.mission-container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission-container-logo img {
    max-width: 207px;
    width: 100%;
}

/* social-section */

.social-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
}
.social-block {
    padding: 14px;
    align-items: center;
    justify-content: flex-start;
}
.social-block-text p {
    text-align: center;
}
/* ai-section */
.ai-wrapper {
    margin: 0 auto 60px;
    gap: 40px;
    border-radius: 10px;
    padding: 20px 14px;
}
.ai-left h3,
.ai-left h4 {
    text-align: center;
}
.ai-left p {
    margin-bottom: 24px;
    text-align: center;
}
.ai-right {
    gap: 30px;
}
.ai-right img {
    max-width: 245px;
    width: 100%;
    margin: 0 auto;
}
.search-button {
  max-width: 100%;
  padding: 2px 2px 2px 33px;
}
.search-button:hover {
  background-color: var(--violet);
}
}