h1 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp(20px, 10vw, 50px);
    line-height: 110%;
    text-align: center;
    color: var(--violet);
}
h2 {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: clamp(10px, 8vw, 22px);
    line-height: 110%;
    text-align: center;
    color: var(--text-dark);
}

.reset-password-form-container {
    max-width: 760px;
    width: 100%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.reset-title {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.reset-form-wrapper {
    border: 1px solid var(--light-gray);
    background: var(--white);
    border-radius: 20px;
    padding: 30px 30px 18px 30px;
    display: flex;
    flex-direction: column;
}
.input-grup-reset {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-dark);
}
input {
    outline: none;
    padding: 14px;
    border-radius: 6px;
    border: 1px solid var(--light-gray);
}
::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: var(--gray);
}
.reset-form-submit {
    display: flex;
    margin: 0 0 48px 0;
}
.reset-form-submit button {
    display: inline-block;
    align-items: center;
    border-radius: 49px;
    padding: 15px 0;
    box-shadow: 0 0 0 0 rgba(62, 54, 127, 0.19);
    background-color: var(--button-violet);
    border: none;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.reset-form-submit button:hover {
    background-color: var(--violet);
}

@media (max-width: 769px) {
    .reset-form-container {
        margin: 50px auto;
    }
    .reset-form-wrapper {
        padding: 20px;
    }
    .reset-form-submit {
        margin: 0 0 30px 0;
    }
}
@media (max-width: 361px) {
    .reset-form-container {
        margin: 30px auto;
    }
    .reset-form-wrapper {
        padding: 20px 16px 10px 16px;
    }
    .reset-form-submit {
        margin: 0 0 22px 0;
    }
}